<!DOCTYPE html>
<html>
    <head>
        <title>Is It New Year</title>
        <style>
            body {
                text-align:center;
            }
        </style>
    </head>
    <body>
       {% if new_year %}
            <h1>Yes Happy New Year!!</h1> 
       {% else %}
            <h1>No</h1>
        {% endif %}

        <h1>Names</h1>

        <ul>
            {% for name in names %}
                <li>{{name}}</li>
            {% endfor %}
        </ul>

        <p>
            <h1>Page 1</h1>
        </p>

        <a href="{{url_for('more')}}">see more .......</a>


    </body>
</html>