<!DOCTYPE html>
<html>
    <head>
        <title>Property</title>
        <style>
            body {
                text-align:center;
            }
        </style>
    </head>
    <body>

        <h1>Property Page</h1>

        <Form method="POST" action="" />
            <br>
            name = <input type="text" name="name" />
            <br>
            address = <input type = "text" name="address" />
            <br><br>
            <input type="submit" />
        </Form>
    </body>
</html>